<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.shop.dao.ShopBrandDao">

    <select id="selectShopBrandCount" parameterType="com.fh.shop.entity.vo.ShopBrandParms" resultType="java.lang.Integer">
        select count(2) from s_shopbrand where 1=1
        <if test="name!=null  and name!=''">
            and name like '%${name}%'
        </if>
    </select>

    <select id="selectShopBrandData" parameterType="com.fh.shop.entity.vo.ShopBrandParms" resultType="com.fh.shop.entity.po.ShopBrand">
        select * from s_shopbrand where 1=1
        <if test="name!=null  and name!=''">
            and name like '%${name}%'
        </if>
        limit #{startIndex},#{limit}
    </select>

    <insert id="addShopBrand" parameterType="com.fh.shop.entity.po.ShopBrand">
        insert into s_shopbrand (name,bandE,imgpath,bandDesc,ord,isdel,createDate,author)
        value (#{name},#{bandE},#{imgpath},#{bandDesc},#{ord},#{isdel},#{createDate},#{author});
    </insert>

    <update id="updateShopBrand" parameterType="com.fh.shop.entity.po.ShopBrand">
        update s_shopbrand set name=#{name},bandE=#{bandE},imgpath=#{imgpath},bandDesc=#{bandDesc},ord=#{ord},isdel=#{isdel},updateDate=#{updateDate},author=#{author}
        where id=#{id}
    </update>

</mapper>
